:root:not(.dark) img[src$="#light"] {
  display: none;
}

:root:is(.dark) img[src$="#dark"] {
  display: none;
}

img[src$="#svg-dark"] {
  background-color: #eee;
  border-radius: 8px;
  padding: 1ch;
  margin: 1ch auto;
}

:root:is(.dark) img[src$="#svg-dark"] {
  background-color: #313641;
}

img[src$="#svg-dark"] svg text {
  font-family: var(--vp-font-family-base);
}

:root:is(.dark) img[src$="#filter-dark"] {
  filter: invert(1);
}

.vp-doc th {
  text-align: center;
}
